//Normalize lib 
@import './assets/sass/lib/normalize.css';

//App vars
@import './assets/sass/variables';

//Base style
@import './assets/sass/layout';

//App styles
@import './assets/sass/components/navBar';

body {
    width: 100%;
    font-family: 'Spartan', 'Sans Serif';
}