@import './assets/sass/lib/normalize.css';
.div--screenBlock {
  position: absolute;
  background-color: #454545;
  height: 210%;
  width: 100%;
  z-index: 5;
  filter: opacity(26%);
}

.main--container {
  display: grid;
  grid-template-columns: 1fr 1fr 150px 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: "principal principal  blank1  text1" "secundary text2      blank2 finaly";
  height: 100vh;
  width: 100%;
}

.img--principal,
.img--secundary,
.img--finaly {
  width: 100%;
  height: 100%;
}

.img--principal {
  grid-area: principal;
}

.img--secundary {
  grid-area: secundary;
}

.img--finaly {
  grid-area: finaly;
}

.section--principal {
  display: flex;
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-column: 3/5;
}
.section--principal h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}
.section--principal p {
  line-height: 1.5em;
  color: #a1a1a1;
  font-size: 14px;
}
.section--principal a {
  margin-top: 30px;
  align-self: flex-start;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.section--principal a img {
  margin-left: 30px;
}
.section--principal a:hover {
  color: #a1a1a1;
}

.section--secundary {
  grid-column: 2/4;
  grid-row-start: 2;
}

.section--secundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.section--secundary h2 {
  align-self: flex-start;
  letter-spacing: 5px;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 0.9em;
}
.section--secundary p {
  line-height: 1.5em;
  color: #a1a1a1;
  font-size: 13px;
}

@media screen and (max-width: 800px) {
  .main--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: "principal" "text1" "secundary" "text2" "finaly";
  }

  .section--principal {
    grid-row-start: 2;
    grid-column: 1;
  }
  .section--principal h1 {
    font-size: 1.7em;
  }
  .section--principal p {
    font-size: 0.9em;
  }

  .section--secundary {
    grid-area: text2;
  }
  .section--secundary h2 {
    margin: 20px 0 0 0;
    font-size: 1em;
  }
  .section--secundary p {
    font-size: 0.9em;
  }
}
.nav--container {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 2.5em;
  margin-left: 4em;
  background-color: transparent;
  color: white;
}
.nav--container .img--hamburger {
  display: none;
}

.img--logo {
  width: 120%;
}

ul {
  margin-left: 2em;
  list-style: none;
  display: flex;
}
ul .img--iconClose {
  display: none;
}

li {
  margin-right: 20px;
  font-size: 14px;
}
li a:hover {
  border-bottom: 3px solid white;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 900px) {
  .nav--container {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    width: 50vw;
    margin: 40px 50px;
  }
  .nav--container .img--hamburger {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .ul--dNone {
    display: none;
  }

  .ul--dBlock {
    color: black;
    background: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -120%;
    left: -40%;
    z-index: 10;
    height: 150px;
    width: 200%;
  }
  .ul--dBlock a {
    font-size: 2.4vw;
  }
  .ul--dBlock a:hover {
    border-bottom: 3px solid black;
  }

  ul .img--iconOpen {
    display: block;
    height: 20px;
    cursor: pointer;
  }
}
body {
  width: 100%;
  font-family: "Spartan", "Sans Serif";
}

/*# sourceMappingURL=main.css.map */
