.div--screenBlock {
    position: absolute;
    background-color: $veryDarkGray;
    height: 210%;
    width: 100%;
    z-index: 5;
    filter: opacity(26%);
}

.main--container {
    display: grid;
    grid-template-columns:  1fr  1fr 150px 1fr ;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "principal principal  blank1  text1"
                         "secundary text2      blank2 finaly";
    height: 100vh;
    width: 100%;
}
.img--principal, 
.img--secundary,
.img--finaly {
    width: 100%;
    height: 100%;
}

.img--principal { grid-area: principal; }
.img--secundary { grid-area: secundary; }
.img--finaly { grid-area: finaly; }

//Text
.section--principal {
    display: flex;
    padding:  0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column: 3 / 5;

    h1 {
        font-size: 2.5em;
        font-weight: 400;
        margin: 0;
    }

    p {
        line-height: 1.5em;
        color: $darkGray; 
        font-size: 14px;
    }

    a {
        margin-top: 30px;
        align-self: flex-start;
        text-transform: uppercase;
        letter-spacing: 5px;

        img {
            margin-left: 30px;
        }
    }

    a:hover {
        color: $darkGray;
    }
}

.section--secundary {
    grid-column: 2 / 4;
    grid-row-start: 2;
}

.section--secundary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

    h2 {
        align-self: flex-start;
        letter-spacing:  5px;
        margin: 20px 0 0 0;
        text-transform: uppercase;
        font-size: 0.9em;
    }

    p {
        line-height: 1.5em;
        color: $darkGray;
        font-size: 13px;       
    }
}
@media screen and (max-width: 800px) {

 .main--container {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: "principal" 
                         "text1"
                         "secundary"
                         "text2"
                         "finaly";
    }   

    //Text
    .section--principal {
        grid-row-start: 2;
        grid-column: 1;
        h1 { font-size: 1.7em; }
        p { font-size: 0.9em;}
    }

    .section--secundary {
        grid-area: text2;

        h2 {
            margin: 20px 0 0 0;
            font-size: 1em;
        }

        p { font-size:  0.9em; }
    }
}
