.nav--container {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    margin-left: 4em;
    background-color:  transparent;
    color: white;

    .img--hamburger { display:  none; }
   }

.img--logo {
    width: 120%;
}

ul {
    margin-left: 2em;
    list-style: none;
    display: flex;

    .img--iconClose { display: none; }
}

li {
    margin-right: 20px;
    font-size: 14px;

    a:hover {
        border-bottom: 3px solid white;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 900px) {
    
    .nav--container {
        display: flex;
        justify-content: flex-start;
        height: 50px;
        width: 50vw;
        margin: 40px 50px;

        .img--hamburger {
            display:  block; 
            margin-right: 10px;
            margin-bottom: 5px;
         }
    }

    .ul--dNone { display: none;}

    .ul--dBlock {
        color: black;
        background: white;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: -120%;
        left: -40%;
        z-index: 10;
        height: 150px;
        width: 200%;

        a {
            font-size: 2.4vw;
        }

        a:hover {
            border-bottom: 3px solid black;
        }
    }
    ul {
        .img--iconOpen { display: block; height: 20px; cursor: pointer; }
    }
}